{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<br><br><br><br>
<div class="chage_pass_form">
    <h1>{% trans "Change Password" %}</h1>
    <br>

    <form method="POST"   class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %}</button>
    </form>
</div>
{% endblock %}
